/*font-family: 'Montez', cursive;
font-family: 'Ubuntu', sans-serif;*/
h1, h2, h3{
	font-family:'Montez', cursive;
}

a, p{
	font-family: 'Ubuntu', sans-serif;
}

/* section Nav */

.navbar-toggle .icon-bar{
	background-color:#000;
}

/* section home */

.bgHome{
	background-color:#2cac95;
	height:100vh;
}
























/* section intro */
























/* section espace */






















/* section Services */































/* section tarifs */


























/* section réservation */