@media all and (max-width:1200px){
    
}
@media all and (max-width:990px){
.home h1{
    font-size:150px;
}
.home img {
    height: 90px;
}
}

@media all and (max-width: 768px){	
.myNavbar{
	display:block
}
.nav>li>a{
    color:#000;
    background-color:#fff;
    text-align: center;
}
.formulaire{
padding-bottom: 30px;
}
.reservation .formulaire {
    padding-right: 15px;
}
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .home h1{
        font-size:70px;
        line-height: 110px;
    }
    .home h1 span {
        font-size: 60px;
    }
    .home p {
        font-size: 16px;
        margin-bottom: 60px;
    }
    .home img{
        height:50px;
    }

    .intro {
        padding: 0px 20px;
    }
}