@media all and (max-width:1200px){
    
}
@media all and (max-width:990px){
.home h1{
    font-size:110px;
}
.home h1 span {
    font-size: 40px;
    padding-left: 370px;
}
.home img {
    height: 90px;
}
}

@media all and (max-width: 768px){	
.myNavbar{
	display:block
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    margin-left:20px;
}
.nav>li>a{
    color:#000;
    background-color:#fff;
    text-align: center;
    line-height: 30px;
}
.formulaire{
padding-bottom: 30px;
}
.reservation .formulaire {
    padding-right: 15px;
}
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .home h1{
        font-size:50px;
        line-height: 40px;
    }
    .home h1 span {
        font-size: 25px;
        padding-left: 130px;
    }
    .home p {
        font-size: 16px;
        margin-bottom: 60px;
    }
    .home img{
        height:50px;
    }

    .intro {
        padding: 0px 20px;
    }
}